#landing-page
{
  font-family:'Rubik', sans-serif;
  width: 100%;
  height: 100%;

  overflow: hidden;

  background-image: url('~assets/images/headphones.png'), url('~assets/images/earphones.png');
  background-size: 30%, 30%;
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-color: $background-color;

  .top-part
  {
    position: relative;
    width: 100%;
    height: 50%;

    transition-duration: .25s;
    transition-timing-function: ease-in-out;
  }
}

#welcome-screen
{
  transition-duration: .25s;
  transition-timing-function: ease-in-out;

  &.hide
  {
    margin-top: 100%;
  }

  width: 100%;
  height: 50%;

  position: relative;

  background-color: $light-color;
  color: #fff;

  $side-margin: 5rem;

  h6
  {
    color: $main-color;
    font-weight:500;
    font-size:2em;
  }

  .caption
  {
    display: block;
    margin: 0;
    padding: 0;

    position: absolute;
    top: -8rem;
    left: $side-margin;

    text-transform: uppercase;
    font-size: 1.25em;
  }

  .title
  {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-style: italic;
    position: absolute;
    text-transform: uppercase;
    font-size: 5em;
    left: $side-margin;

    &.line-1
    {
      color: $light-color;
      top: -5.5rem;
      text-shadow: -3px 3px $main-color;
    }

    &.line-2
    {
      color: $main-color;
      top: .1rem;
    }
  }

  .access-form
  {
    display: block;
    width: 30rem;

    position: absolute;
    right: $side-margin;

    .field-input
    {
      position: absolute;
      top: -2.3rem;
      width: 100%;
    }

    input[type=button]
    {
      position: absolute;
      top: 3rem;
      right: -20px;
    }
  }
}
