.graph-item
{
  position: relative;

  .chartjs-tooltip
  {
    position: absolute;
    top: 0;

    display: inline-block;
    min-width: 100px;
    /*height: calc(1rem + 10px);*/
    height: auto;
    margin: -1.1rem 0 0 -50px;
    padding: 5px;

    border-radius: 25px;
    background-color: transparent;

    color: $light-color;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;

    opacity: 0;
    transition: .1s ease-out;

    .label {
      padding-right: .1rem;
      font-size: .5rem;
      vertical-align: middle;
    }

    .value {
      font-weight: bold;
      vertical-align: middle;
    }
  }

  &.radar-graph,
  &.doughnut-graph
  {
    // padding-bottom: 20px;
  }
}
