/**
  COLORS
 */
$main-color: red;
$light-color: #f8f9f9;
$light-text-color: #777;
$background-color: #ffcdd2;
$oposite-color: #89ABE3;

$spotify-green: #1DB954;

/**
  ANIMATIONS
 */
$transition-duration: .15s !default;
$transition-animation: ease !default;
$transition-delay: 0s !default;

$global-transition: $transition-duration $transition-animation $transition-delay;

/**
  FORMS
 */
$field-height: 3rem !default;
$field-font-size: 1rem !default;

$button-height: $field-height!default;
$button-width: $field-height * 5!default;

/**
  HEADER
 */
$header-height: 3rem;

$hamburger-layer-color: #f00;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;

$header-transition: $global-transition;

@import '~hamburgers/_sass/hamburgers/hamburgers';

/**
  FOOTER
 */
$footer-height: 3rem;
